ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a:hover {
    background-color: #222222;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead {
    background-color: #444444;
    color: #ffffff;
}